.TodoList{
    border: 1px solid black;

}
.TodoList__item{
    display: flex;
    justify-content: space-between;
    padding: 4px;
}

  .TodoList__text--complited{
      text-decoration: line-through;
  
  }
  .TodoEditer{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }