.container {
    padding: 10px;
  
}


.btn {
    /* display: inline-block; */
    width: 30px;
    height: 30px;
    margin: 4px;
    border: none;
    cursor: pointer;
    transition: transform 250ms linear;
}

.btn__active{
    transform: scale(1.3);
}
